* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}

body {
    background-color: rgba(253, 239, 239, 0.796);
   background-image: url(Arrow\ Chart\ Visual\ Charts\ Presentation\ in\ Blue\ White\ Teal\ Simple\ Style.png);
   background-size: cover;
    opacity: 1;
    overflow-y: hidden;
    font-family: "Kanit", sans-serif;
    font-style: normal;

}

header {
    background-color: rgba(251, 246, 246, 0.579);
    padding: 10px 0;
   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
   
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: 100px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 10px 20px;
}

nav ul li a.active,
nav ul li a:hover {
    color: #ff0000;
    border-radius: 5px;
}

.icons {
    display: flex;
    gap: 10px;
    color: white;
}

.buttons{
    display: flex;
    gap: 0.7rem;
}

#selected {
    list-style: none;
    background-color: blue;
    margin-left: 2px;
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    display: flex;
    justify-content: center;

    font-size: 0.9rem;
    border-radius: 7px;
}

#selected a {
    color: white;
    font-weight: 600;
}

#selected:hover {
    background-color: rgba(0, 0, 255, 0.888);
}

#selected1 {
    list-style: none;
    background-color: black;

    
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    display: flex;
    justify-content: center;

    font-size: 0.9rem;
    border-radius: 7px;
}
#selected1:hover{
    background-color: #333;
}
#selected1 a {
    color: rgb(255, 255, 255);
    font-weight: 600;
}
main {
    max-width: 100vw;
   height: 100vh;
    /* border: 2px solid black; */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}
.middle_container{
    animation: slideFromleft 1s ease-in forwards;
    max-width: 40%;
    height: 60%;
    margin:  auto;
    padding: 20px;
    background-color: rgba(240, 239, 239, 0.527);
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@keyframes slideFromleft {
    0% {
        opacity: 0;
        transform: translateX(-100%) ;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.student-section {
    text-align: center;
}

.student-section h2 {
    color: #0d00ff;
    margin-bottom: 20px;
}

.student-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.student-section label {
    display: block;
    font-weight: 1000;
    color: #000000;
    position: relative;
}

.student-section input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 0.8rem;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

.forgot-password {
    align-self: center;
    color: #ce0303;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 400;
}

.forgot-password:hover {
    
    transform: scale(1.07);
    transition: all 0.1s linear 0s;
}

.sign-in, .verify-face {
    padding: 10px 20px;
    color: white;
    background-color: #2204ffd1;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
    font-family: "Kanit", sans-serif;
}

.sign-in:hover, .verify-face:hover {
    background-color: #2104ff;
}

.verify-face {
    margin-top: 20px;
}

footer {
    background-color: #232323;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
